@charset "UTF-8";
@import "https://files.azizarslan.com/scicons.css";
* {
  text-decoration: none !important;
  text-align: center;
  color: black;
  font-family: Georgia, sans-serif;
  font-margin: 0;
  font-padding: 0;
  font-text-decoration: none; }

#body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: url("https://i.pinimg.com/originals/f0/73/91/f07391199ff90c1165cddf3c9a18f30f.jpg") no-repeat center center fixed;
  background-size: cover; }
  #body #firstcontainer {
    height: 100%;
    width: 100%; }
    #body #firstcontainer #t {
      height: 10%;
      display: flex;
      width: 50%;
      border: none; }
      #body #firstcontainer #t .selected {
        border: solid black; }
      #body #firstcontainer #t .ta {
        height: 100%;
        width: 100%; }
        #body #firstcontainer #t .ta:hover {
          border: dashed black; }
        #body #firstcontainer #t .ta .navigation {
          background-color: rgba(0, 0, 0, 0) !important;
          color: black;
          height: 100%;
          width: 100%;
          font-size: calc(1.5vmin + 1.5vmax);
          border: none; }
          #body #firstcontainer #t .ta .navigation:active {
            background-color: red; }
    #body #firstcontainer .tab-content {
      display: flex;
      height: 90%; }
      #body #firstcontainer .tab-content #A #ame #aboutme {
        float: left; }
      #body #firstcontainer .tab-content #A #abme {
        display: flex;
        align-items: left; }
        #body #firstcontainer .tab-content #A #abme #paboutme {
          font-size: 175%;
          text-align: left; }
      #body #firstcontainer .tab-content #A .skills {
        font-size: 150%;
        font-weight: bold; }
      #body #firstcontainer .tab-content #A #list {
        padding: 1%;
        font-size: 200%;
        float: left; }
      #body #firstcontainer .tab-content #B {
        height: 100%;
        width: 100%; }
        #body #firstcontainer .tab-content #B .intro {
          margin: 5%;
          height: 10%;
          font-size: 2.5vw; }
        #body #firstcontainer .tab-content #B .secondcontainer {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column; }
          #body #firstcontainer .tab-content #B .secondcontainer #second {
            height: 100%; }
            #body #firstcontainer .tab-content #B .secondcontainer #second .col {
              justify-content: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              align-content: stretch; }
              #body #firstcontainer .tab-content #B .secondcontainer #second .col .gallery {
                width: 100%;
                height: 100%; }
                #body #firstcontainer .tab-content #B .secondcontainer #second .col .gallery .link .picture {
                  width: 100%;
                  height: 50%; }
                #body #firstcontainer .tab-content #B .secondcontainer #second .col .gallery .link .desc {
                  font-size: calc(1vmin + 1vmax);
                  margin: 10% 0 0 0; }
      #body #firstcontainer .tab-content #C .social {
        height: 100%; }
        #body #firstcontainer .tab-content #C .social .media {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column; }
          #body #firstcontainer .tab-content #C .social .media .med {
            align-items: center;
            display: inline-flex;
            height: 100%;
            width: 100%; }
          #body #firstcontainer .tab-content #C .social .media .sticker {
            width: 8vw;
            height: 8vh;
            font-size: calc(2em + 1vmin);
            font-family: "scicons";
            text-align: center;
            padding: 0% 0% 0% 0%;
            text-decoration: none;
            border: solid;
            border-radius: 1vw;
            color: #fff;
            margin: 0% 5% 0% 0%;
            transition: background-color .2s linear, color .2s linear; }
            #body #firstcontainer .tab-content #C .social .media .sticker.icon-facebook {
              background-color: #3b5998; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-facebook:before {
                content: ""; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-facebook:hover {
                background-color: #fff;
                color: #3b5998; }
            #body #firstcontainer .tab-content #C .social .media .sticker.icon-linkedin {
              background-color: #007fb1; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-linkedin:before {
                content: ""; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-linkedin:hover {
                background-color: #fff;
                color: #007fb1; }
            #body #firstcontainer .tab-content #C .social .media .sticker.icon-stackexchange {
              background-color: #f47920; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-stackexchange:before {
                content: ""; }
              #body #firstcontainer .tab-content #C .social .media .sticker.icon-stackexchange:hover {
                background-color: #fff;
                color: #f47920; }
          #body #firstcontainer .tab-content #C .social .media .pic {
            font-size: calc(2vmin + 2vmax);
            margin: 1%; }
        #body #firstcontainer .tab-content #C .social .intro {
          margin-top: 5%;
          height: 25%;
          font-size: calc(1.5vmin + 1.5vmax);
          overflow: hidden; }

/*# sourceMappingURL=styles.css.map */
