@import "https://files.azizarslan.com/scicons.css";
* {
    text-decoration: none !important;
    text-align:center;
    color:black;
    font: {
    family: Georgia, sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;

    }
  }

 $social:
  facebook #3b5998 "\e801",
  linkedin #007fb1 "\e80b",
  stackexchange #f47920 "\e80d";
#body{
  box-sizing: border-box;
  height:100vh;
  width:100%;
  background:url("https://i.pinimg.com/originals/f0/73/91/f07391199ff90c1165cddf3c9a18f30f.jpg")no-repeat center center fixed; 
  background-size:cover;
  #firstcontainer{
    height:100%;
    width:100%;
    #t{
      height:10%;
      display:flex;
      width:50%;
      border:none;
      .selected{
  border:solid black;
}
      .ta{
        height:100%;
        width:100%;
        &:hover {
          border:dashed black;
          }
      

        .navigation{
          background-color: rgba(0,0,0,0) !important ;
          color:black;
          height:100%;
          width:100%;
          font-size:calc(1.5vmin + 1.5vmax);
          border:none;
          &:active {
            background-color:red;
          }
          
        }
      }
    }
    .tab-content{
      display:flex;
      height:90%;
      #A{
        #ame{
          #aboutme{
            float:left
          }
        }
        #abme{
      display: flex;
      align-items: left;
          #paboutme{
            font-size:175%;
            text-align: left;
          }
        }
        .skills{
          font: {
            size:150%;
            weight: bold;
          }
        }
        #list{
          padding:1%;
          font-size:200%;
          float:left;
        }
      }
      #B{ 
        height:100%;
        width:100%;
        .intro{
          margin:5%;
          height:10%;
          font-size:2.5vw;
        }
        .secondcontainer{
          width:100%;
          height:100%;
          display:flex;
          flex-direction: column;
          #second{
            height:100%;
            .col{
              justify-content:center;
              display:flex;
              flex-direction: column;
              align-items: center;
              align-content: stretch;
              .gallery{
                width:100%;
                height:100%;
                .link{
                  .picture{
                    width:100%;
                    height:50%;
                  }
                  .desc{
                  font-size: calc(1vmin + 1vmax);
                  margin:1%;
                  border:solid;
                }
                }
                
              }
              
            }
          }
        }
      }
      #C{
        .social{
          height:100%;
          .media{
            width:100%;
            height:50%;
            display:flex;
            flex-direction: column; 
            .med{
              align-items:center;
              display:inline-flex;
              height:100%;
              width:100%;
            }
            .sticker{
              width:8vw;
              height:8vh;
              font-size: calc(2em + 1vmin);
              font-family: "scicons";
              text-align:center;
              padding:0% 0% 0% 0%;
              text-decoration: none;
              border:solid; 
              border-radius: 1vw;
              color: #fff;
              margin:0% 5% 0% 0%;
              transition: background-color .2s linear, color .2s linear;


     @each $type in $social {
    &.icon-#{nth($type, 1)} {
      background-color: nth($type, 2);
 
      &:before {
        content: nth($type, 3);
      }
 
      &:hover {
        background-color: #fff;
        color: nth($type, 2);
      }
    }
  }
            }
            .pic{
              font-size: calc(2vmin + 2vmax);
              margin:1%;
            }
          }
        .intro{
          margin-top:5%;
          height:25%;
          font-size: calc(1.5vmin + 1.5vmax);
          overflow:hidden;
        }
        }
      }
      
    }
  }
}


 
